// you can change colors here
$theme-color: #096dd9;
$font-family-heading: '"Droid Sans", "Helvetica Neue",sans-serif';
$font-family: '"Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';